@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
} 

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-style: italic;
    color: blue;
    background-color: brown;
}
h2 {
    color: aqua;
}
p {
    padding: 10px;
    width: 50%;
}